<app-nav-bar></app-nav-bar>

<div id="register-items">
    <h1>
        Register here
    </h1>

    <form [formGroup]="registerForm" id="register-form" (ngSubmit)="registerUser()">
        <label for="user-name">UserName: </label>
        <input id="user-name" type="text" formControlName="userName">

        <label for="first-name">First name: </label>
        <input id="first-name" type="text" formControlName="firstName">

        <label for="last-name">Last name: </label>
        <input id="last-name" type="text" formControlName="lastName">

        <label for="email">Email: </label>
        <input id="email" type="text" formControlName="eamil">

        <label for="password">Password: </label>
        <input id="password" type="password" formControlName="password">

        <label for="reenter-password">Reenter password: </label>
        <input id="reenter-password" type="password" formControlName="reEnterPassword">

        <button id="submit-button" class="pointer-cursor" type="submit" [disabled]="!registerForm.valid">Register</button>
    </form>
</div>